.header-box{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 350px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 25% bottom 60%;
    background-image: url('../../assets/images/bg.jpg');
    margin-bottom: 60px;
    .overflow{
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        max-height: 100vh;
        height: 100%;

    .color{
        position: absolute;
        width: 100%;
        max-height: 100vh;
        height: 100%;
        // opacity: 0.2;
        background-color: rgba(23, 54,92, 0.7);
    }
    
    .info{
        font-family: sans-serif;
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 50px;
        line-height: normal;
        // text-transform: uppercase;
        color:rgb(245, 166, 35)
}}}