.info{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    .sections{
        padding: 0 10px;
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        .page-name{
            font-family: sans-serif;
            font-weight: bold;
            font-size: 35px;
            line-height: normal;
            color: rgb(245, 166, 35);
        }
       .info-wrapper{
            display: flex;
            justify-content: space-between;
        .contacts{
            font-size: 20px;
        }
        .social{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            @media screen and (max-width: 770px) {
                margin-top: 15px;
            }
            .social-head{
                margin-bottom: 15px;
                font-family: sans-serif;
                font-weight: bold;
                font-size: 20px;
                line-height: normal;
                color: rgb(245, 166, 35);
            }
            ul{
                padding: 0;
                list-style: none;
                display: flex;
                gap:41px;
            }

        }
        @media screen and (max-width: 770px) {
            flex-direction: column;
        }
       }
       @media screen and (max-width: 770px) {
        text-align: center;
    }
    }
}