.footer{
    background-color: rgba(23, 54, 92, 1);
    width: 100%;
    height: 300px;
    .footerWrapper{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 1280px;
        width: 100%;
        @media screen and (max-width:770px) {
            padding: 20px 0;
            flex-direction: column;
            gap: 30px;
        }
        .page-name {
            font-family: sans-serif;
            font-weight: bold;
            font-size: 35px;
            line-height: normal;
            color: rgb(245, 166, 35);
        }
        .element{
            color:white;
        }
        .social {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;        
            @media screen and (max-width: 770px) {
                margin-top: 15px;
            }
            
                .social-head {
                    margin-bottom: 15px;
                    font-family: sans-serif;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: normal;
                    color: rgb(245, 166, 35);
                }
            
                ul {
                    padding: 0;
                    list-style: none;
                    display: flex;
                    gap: 41px;
                }
            }

    }
}